.lol {
   color: crimson;
   font-style: italic;
   font-size: 16px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.cat-1 {
   font-size: 18px;
}
.lolz {
margin: 200px;
}
.lolz1 {
   color: blue;
}
.lolz2 {
   color: red;
}
.col-3 {
   background-color: oldlace;
}
